body{
    width: 100%;
    overflow: hidden;
}

textarea#editor{
    min-height: 65vh;
    max-height: 65vh;
    overflow: auto;
    font-size: 17px;
}

#vue-application{
    height: 100vh;
    overflow: hidden;
}

.content{
    height: 75vh;
    overflow: auto;
}

.settings-color-item .collection-item{
    margin: 5px 0;
    cursor: pointer;
}

.settings-color-item .collection-item.action{
    text-decoration: underline;
    font-size: 1.3em;
    margin: 15px 0;
}

.input-field.non-margin-top{
    margin-top: 0;
}

.card{
    cursor: pointer;
}

#modal-new-process .col.s12.hoverable{
    cursor: pointer;
}

.col.delete-process{
    padding: 0;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active для <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
