<div data-source="import" v-if="currentView === 'execute'" class="content">
    <div class="row">
        <div v-for="process in processes" class="col s6 m3 process-item">
            <div class="card grey lighten-3">
                <div class="col s12 delete-process">
                    <i v-on:click="deleteProcess(process)" class="material-icons right small">close</i>
                </div>
                <div v-on:click="executeProcess" class="card-content hoverable">
                    <span class="card-title">
                        <div class="row center">
                            <img class="col s12 responsive-img" v-bind:src="source" alt="" />
                            <h5 class="col s12">{{process.name}}</h5>
                        </div>
                    </span>
                </div>
            </div>
         </div>
    </div>
</div>
